@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
:root{
    font-family: "Afacad Flux", sans-serif;
    --add-btn-color: #00C7BE;
    --cancel-btn-color: #FF2D55;
    --primary-btn-color: #32ADE6;
    --disabled-btn-color: #EBEDF0;

    --background-default-color: #F5F5F5;
    --default-shadow-color: #8f8f8f;
    --default-disabled-text: #8f8f8f;

    --default-border-radius: 4px;
    --milestone-border-radius: 12px;
    --menu-height: 30px;
    --timeline-color: rgb(231, 231, 3);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
   

}


body{
    background-color: var(--background-default-color) ;
    width: auto;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    box-sizing:content-box
}


.label-container{
    width: 90%;
    margin: auto;
    
}
.title{
    font-size: larger;
    font-weight: bolder;
    text-shadow: 0px 3px 5px var(--default-shadow-color);
}

/* MILESTONE CONTAINER */

.milestone-container{
    position: relative;
    width: 90vw;
    height: 200px;
    background-color: #A6D4FF ;
    border-radius: var(--milestone-border-radius);
    margin: 10px;
    box-shadow: 0 0 8px var(--default-shadow-color);
    padding: 10px;
    
    
}

.milestone-header{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.picture{
  margin: 0;
  
}
.user-pic{
   clip-path: circle(50%);
   max-width: 60px;
}
.stone-counter{
    display: flex;
    flex-wrap: nowrap;
    font-weight: bold;
}
.milestone-mask{
    background-color: var(--background-default-color);
    min-width: 100%;
    min-height: 100px;
    border-radius: var(--milestone-border-radius);
    margin: 20px 0;    
    overflow-x: auto;
}
.timeline{
    position: relative;
    background-color: var(--timeline-color) ;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
   
}
.years-lines{
    position: absolute;
    width: 3px;
    height: 20px;
    background-color: var(--timeline-color);
    margin-top: -8px;
    
}
.years-label{
    position: absolute;
    margin-top: -35px;
    font-size: xx-large;
    font-weight: 600;
    color: rgba(143, 143, 143,20%);
    
}
.stones {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--timeline-color);
    margin-top: -8px;
    color: green;
    font-size: xx-large;
}

/* ---------------- */
.menu-container{  
    position: fixed;
    background-color: var(--background-default-color);
    bottom: 0px;
    left: 0;
    border-radius: 12px 12px 0 0 ;
    box-shadow: 0px 0px 8px var(--default-shadow-color);
    display: flex;
    justify-content: space-around;
    width: 100%;
    min-width: 300px;
    padding: 15px 0;
}