@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
:root{
    font-family: "Afacad Flux", sans-serif;
    --add-btn-color: #00C7BE;
    --cancel-btn-color: #FF2D55;
    --primary-btn-color: #32ADE6;
    --disabled-btn-color: #EBEDF0;

    --background-default-color: #F5F5F5;
    --default-shadow-color: #8f8f8f;
    --default-disabled-text: #8f8f8f;

    --default-border-radius: 4px;
    --milestone-border-radius: 12px;
    --menu-height: 30px;
    --default-margin: 30px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.material-symbols-outlined:hover {
    cursor: pointer;
}


body{
    
    
    
}
.box-container {
    margin: auto;
    display: flex;
    justify-content: center;
    max-width: 400px;


}


.main-container{
    max-width: 400px;
    margin-top: 20px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.label-container{
    width: 100%;
    margin: auto;
   margin-left: var(--default-margin);
   margin-top: var(--default-margin);;
}
.title{
    font-size: larger;
    font-weight: bolder;
    text-shadow: 0px 3px 5px var(--default-shadow-color);
}
.declaimer-password{
    font-size: smaller;
    text-align: center;
}
.input-container{
    width: 100%;
   border: solid 0.1px;
   border-radius: var(--default-border-radius);
   display: flex;
   margin-left: var(--default-margin);
   margin-right: var(--default-margin);
   background-color: white;
}

input{
    width: 100%;
    border-radius: var(--default-border-radius);
    border: 0.1px solid var(--default-disabled-text);
    min-height: 30px;
    border: none;
    
   
}
.icon-input-box{
    max-width: 30px;
    max-height: 30px;
    display: flex;
    align-items: center;
    color: var(--default-disabled-text);
    
}
.mandatory-input-box{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FF2D55;
    border-radius: var(--default-border-radius);
}



.btn-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    min-width: 300px;
    min-height: 100px;
}
button {
    min-width: 250px ;
    min-height: 40px;
    border: none;
    border-radius: var(--default-border-radius);
    box-shadow: 0px 0px 4px var(--default-shadow-color);
    color: var(--background-default-color);
    font-family: "Afacad Flux", sans-serif;
    font-weight: bold;
    font-size: larger;
    margin: 10px 0;
}
.add {
    background-color: var(--add-btn-color);
}
.cancel{
    background-color: var(--cancel-btn-color);
}
.primary{
    background-color: var(--primary-btn-color);
}
.disabled{
    background-color: var(--disabled-btn-color);
    color: #8f8f8f;
}



.menu-container{  
    position: fixed;
    background-color: var(--background-default-color);
    bottom: 0px;
    left: 0;
    border-radius: 12px 12px 0 0 ;
    box-shadow: 0px 0px 8px var(--default-shadow-color);
    display: flex;
    justify-content: space-around;
    width: 100%;
    min-width: 300px;
    padding: 15px 0;
    height: var(--menu-height)
}
