@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
/* FONT TO CHOOSE FROM IN THE POST */
/* COLORFUL */
/* Nabla */
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Nabla:EDPT,EHLT@0..200,0..24&display=swap');
/* Bungee Spice */
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:slnt,wght@-14..14,100..1000&family=Bungee+Spice&family=Nabla:EDPT,EHLT@0..200,0..24&display=swap');
/* Honk */
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:slnt,wght@-14..14,100..1000&family=Bungee+Spice&family=Honk:MORF,SHLN@0..45,0..100&family=Nabla:EDPT,EHLT@0..200,0..24&family=Noto+Color+Emoji&display=swap');
/* HANDWRITTEN */
/* Amatic SC */
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:slnt,wght@-14..14,100..1000&family=Amatic+SC:wght@400;700&family=Bungee+Spice&family=Honk:MORF,SHLN@0..45,0..100&family=Nabla:EDPT,EHLT@0..200,0..24&family=Noto+Color+Emoji&display=swap');
/* Gochi Hand */
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:slnt,wght@-14..14,100..1000&family=Amatic+SC:wght@400;700&family=Bungee+Spice&family=Gochi+Hand&family=Honk:MORF,SHLN@0..45,0..100&family=Nabla:EDPT,EHLT@0..200,0..24&family=Noto+Color+Emoji&display=swap');
/* ---------------------------------- */
/* REGULAR */
/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:slnt,wght@-14..14,100..1000&family=Amatic+SC:wght@400;700&family=Bungee+Spice&family=Gochi+Hand&family=Honk:MORF,SHLN@0..45,0..100&family=Nabla:EDPT,EHLT@0..200,0..24&family=Noto+Color+Emoji&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Cormorant Infant */
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:slnt,wght@-14..14,100..1000&family=Amatic+SC:wght@400;700&family=Bungee+Spice&family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Gochi+Hand&family=Honk:MORF,SHLN@0..45,0..100&family=Nabla:EDPT,EHLT@0..200,0..24&family=Noto+Color+Emoji&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    font-family: "Afacad Flux", sans-serif;
    --add-btn-color: #00C7BE;
    --cancel-btn-color: #FF2D55;
    --primary-btn-color: #32ADE6;
    --disabled-btn-color: #EBEDF0;

    --background-default-color: #F5F5F5;
    --default-shadow-color: #8f8f8f;
    --default-disabled-text: #8f8f8f;

    --default-border-radius: 4px;
    --milestone-border-radius: 12px;
    --menu-height: 30px;
    
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  user-select: none;
  font-size: large;
  
}
.material-symbols-outlined:hover {
    cursor: pointer;
    user-select: none;
    
}


body{
    background-color: var(--background-default-color) ;
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
    
}
.div-spacer {
    min-height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  

}

.form-container {
    top: 0;
    left: 0;
    position: absolute;
    background-color: var(--background-default-color);
    border-radius: 12px;
    /* box-shadow: 0px 0px 8px var(--default-shadow-color); */
    /* padding: 20px 10px; */
    width: 100%;
    height: 100vh;
    /* height: calc(100vh - var(--menu-height)*4); */
    overflow: hidden;
}


.box-container{
    display: flex;
    flex-direction: column;
}
.box-setting{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

.title{
    font-size: larger;
    font-weight: bolder;
    text-shadow: 0px 3px 5px var(--default-shadow-color);
    margin-top: 5px;
}

.input-container{
    
    margin: auto;
   
}

input{
    width: auto;
    border-radius: var(--default-border-radius);
    border: 0.1px solid var(--default-disabled-text);
    min-height: 30px;
   
}

select{
    width: auto;
    height: 40px;
    border-radius: var(--default-border-radius);
    border: 0.1px solid var(--default-disabled-text);
}
.btn-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    grid-area: btn-container;
    margin-bottom: 30px;
    position: absolute;
    bottom: 30px;
    
}
button {
    min-width: 250px ;
    min-height: 40px;
    border: none;
    border-radius: var(--default-border-radius);
    box-shadow: 0px 0px 4px var(--default-shadow-color);
    color: var(--background-default-color);
    font-family: "Afacad Flux", sans-serif;
    font-weight: bold;
    font-size: larger;
    
    
}
textarea{
    width: 100vw;
    resize: none;
    height: 50px;
}


.add {
    background-color: var(--add-btn-color);
}
.cancel{
    background-color: var(--cancel-btn-color);
}
.primary{
    background-color: var(--primary-btn-color);
}
.disabled{
    background-color: var(--disabled-btn-color);
    color: #8f8f8f;
}

.menu-container{  
    position: fixed;
    z-index: 90;
    background-color: var(--background-default-color);
    bottom: 0px;
    left: 0;
    border-radius: 12px 12px 0 0 ;
    box-shadow: 0px 0px 8px var(--default-shadow-color);
    display: flex;
    justify-content: space-around;
    width: 100%;
    min-width: 300px;
    padding: 15px 0;
    
}

.post-container{
    border: solid #dbdbdb;
    height: 95vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
   
}


#editor{
    position: fixed;
    top: 0;
    left: 0;
    width: 100% ;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9) ;
   
}

#navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 20px);
    height: 25px;
    margin: 10px;
    max-width: 100%;
    color: white;
    text-shadow: 1px 1px 5px rgb(19, 19, 19);
   
    z-index: 100;
}
textarea{
 position: relative;
 left: 50%;
transform: translate(-50%);
 background-color: transparent;
 text-align: center;   
 resize: none; 
 color: #EBEDF0;
 border: none;
 overflow: hidden;
 
}
pre{
   margin: 0; 
}
#text-editor{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-shadow: 1px 1px 5px rgb(19, 19, 19);
    width: 60vw
}
#toolbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* background-color: black;
    border-radius: 4px;
    padding: 2px; */
}
#selection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px 0;
}

.post-tools-container{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    margin: 0;
   
}
#text-input{
    margin: 0;
}
.tools{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   align-content:center;
}