<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="components.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Document</title>
</head>
<body>
    <!-- BOX INPUT TEX/PASSWORD -->
    <div class="box-container">
        <div class="main-container">
            <div class="label-container">
                <div class="title">Title</div>
                <div class="sub-title">Sub Title</div>
            </div>
            <div class="input-container">
                <input type="text" class="text-input" placeholder="insert your name...">
            </div>
        </div>
    </div>
    <!-- ------------------------------------- -->
    
    <!-- BOX TEXT AREA -->
    <div class="box-container">
        <div class="main-container">
            <div class="label-container">
                <div class="title">Title</div>
                <div class="sub-title">Sub Title</div>
            </div>
            <div class="input-container">
                <textarea name="comments" id="textarea-comments" placeholder="insert a comment..."></textarea>
            </div>
        </div>
    </div>
    <!-- ------------------------------------- -->
    <!-- BOX SELECT -->
    <div class="box-container">
        <div class="main-container">
            <div class="label-container">
                <div class="title">Title</div>
                <div class="sub-title">Sub Title</div>
            </div>
            <select>
                <option value="1">option 1</option>
                <option value="2">option 2</option>
                <option value="3">option 3</option>
                <option value="4">option 4</option>
                <option value="5">option 5</option>
            </select>
        </div>
    </div>
    <!-- ------------------------------------- -->
    <!-- BOX BUTTONS -->
    <div class="box-container">
        <div class="main-container">
            <div class="btn-container">
                <button class="add"><span class="add-ico-btn"></span>Add</button>
                <button class="cancel"><span class="cancel-ico-btn"></span>Cancel</button>
                <button class="primary"><span class="primary-ico-btn"></span>Primary</button>
                <button class="disabled"><span class="disabled-ico-btn"></span>Disabled</button>
            </div>
        </div>
    </div>
    <!-- ------------------------------------- -->

    <!-- MILESTONE CONTAINER -->
    <div class="box-container">
        <div class="main-container">
            <div class="milestone-container">
                <div class="milestone-drawer-container">
                    <div class="milestone-drawer">
        
                    </div>
                </div>
                <div class="milestone-header">
                    <div class="picture">
                        <img class="user-pic" src="../../pictures/IMG_20180930_180137.jpg"  alt="">
                    </div>
                    <div class="label-container">
                        <div class="title">Title</div>
                        <div class="sub-title">Sub Title</div>
                    </div>
                    <div class="stone-counter">
                        <div class="counter">33/33</div>
                        <span class="material-symbols-outlined">beenhere</span>
                    </div>
                   
                
                </div>
                <div class="milestone-mask">
                    <!-- MILESTONE HERE -->
                </div>
                <!-- <div class="arrow-bottom"><span class="material-symbols-outlined">keyboard_arrow_down</span></div> -->
            </div>
        </div>
    </div>

    <!-- MENU-BAR -->
    <div class="box-container">
        <div class="menu-container">
            <span class="material-symbols-outlined">person</span>
            <span class="material-symbols-outlined">dashboard</span>
            <span class="material-symbols-outlined">add_box</span>
            <span class="material-symbols-outlined">beenhere</span>
        </div>
    </div>
    <!-- NEW MILESTONE FORM -->
    <div class="box-container">
        <div class="main-container">
           
                <div class="label-container">
                    <div class="title">Seleziona un Milestone</div>
                    <div class="sub-title">aggiungi un traguardo a questo percorso:</div>
                </div>
                <select>
                    <option value="1">Ingegneria</option>
                    <option value="2">Running</option>
                    <option value="3">Canto</option>
                    
                </select>
            
           
            <div class="main-container">
                <div class="btn-container">
                    <button class="add"><span class="add-ico-btn"></span>New Stone</button>
                    <div class="div-spacer">or</div>
                    <div class="label-container">
                        <div class="title">Crea un Milestone</div>
                        <div class="sub-title">crea un nuovo percorso della tua vita</div>
                    </div>
                    <button class="primary"><span class="primary-ico-btn"></span>New Milestone</button>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- --------------------- -->

</body>
</html>