
    <div class="box-container">
        <div class="main-container">
            <div class="label-container">
                <div class="title"> <%= title %></div>
                <div class="date"><%= date %></div>
            </div>
            <div class="tools">
                <span class="material-symbols-outlined">edit</span>
            </div>
            <div class="label-container">
                <div class="event"><p><%= event %></p></div>
            </div>
        </div>
    </div>
